/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;700&display=swap');


/* common style */
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
:root{

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* slider style  */
.carousel.slide{
    height: calc(100vh - 62px);
}
.overlay-color{
    background-color: rgba(0, 0, 0, 0.5);
}
.zi-1{
    z-index: 1;
}
.zi-2{
    z-index: 2;
}
.img-and-infoText img{
    height: calc(100vh - 62px);
    object-fit: cover;
}



/* price table  */
#best-d::before{
    content: "popular";
    background-color: white;
    color: tomato;
    padding: 2px 60px;
    font-weight: 600;
    position: absolute;
    top: 0;right: 0;
    transform: translate(43px, 25px) rotate(40deg) ;
}

/* footer  */
footer{
    background-color: #0B0D17;
    height: 170px;
}
.footer-wrap{
    height: 170px;
}

/* app store icon style  */
.appStore{
    width: 100px;
}
.googlePlay{
    width: 100px;
}